.SqlCompilerPad{
    height: 100%;
}

.SqlCompilerPad section{
    max-height: 100% !important;
}

.SqlCompilerToolBar{
    display: flex;
    align-items: center;
    background-color: rgb(243, 240, 240);
    padding: 4px;
    padding-left: 10px;
}

.SqlCompilerRunBtn{
    padding: 2px
}

.EditorPad{
    height: 100% !important;
    max-height: 600px;
}