.FooterSectionMainCon{
    display: flex;
    flex-direction: column;
}

.footer-resizable-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  resize: vertical; /* Allow resizing */
  overflow: hidden;
  min-height: 100px;
  max-height: 500px;
  transition: height 0.2s ease;
  width: 100%;
}


.footer-draggable-edge {
  height: 5px;
  cursor: ns-resize;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
