.resizable-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.sidebar-draggable-edge {
  width: 5px;
  cursor: ew-resize;
  background-color: gray;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.leftSectionMainCon{
  height: 100%;
  display: flex;
  border: 2px solid gray;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}